@mixin background-size($size) {
  -webkit-background-size: $size;
  	      background-size: $size;
}

@mixin border-radius($len){
  -webkit-border-radius: $len;
     -moz-border-radius: $len;
          border-radius: $len;
}

@mixin verticalAbsoluteAlign() {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

@mixin absoluteFullSize() {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}