@import "mixins";

$decorative: #7cc576;
$text-dark: #777777;
$text-light: #ccc;

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 16px;
  background-color: #fff;
  position: relative;
  z-index: -1;

}

/**** LAYOUT ****/

.size {
  max-width: 1170px;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100%;
}

/**** HEADER ****/

.header {
  background-color: #fff;
  text-align: right;
  padding: 30px 10px;
  position: fixed;
  width: 100%;
  z-index: 9999;

  .logo {
	display: inline-block;
	float: left;
	margin: 4.5px 0;

	&__text {
	  text-transform: uppercase;
	  font-weight: 600;
	  font-size: 20px;
	  line-height: 40px;
	  text-decoration: none;
	  color: #565656;
	  display: inline-block;
	  margin: 0;
	}

	&__img {
	  @include border-radius(50%);
	  width: 28px;
	  height: 28px;
	  background-color: $decorative;
	  background-position: center;
	  background-repeat: no-repeat;
	  display: inline-block;
	  position: relative;
	  top: 6px;
	}
  }
}

.menu {
  display: inline-block;

  &__item {
	display: inline-block;
	text-transform: uppercase;
	font-size: .8em;
	margin: auto 15px;

	a {
	  text-decoration: none;
	  color: $text-dark;

	  &:active, &:hover, &:focus, &:visited {
		text-decoration: none;
		color: $text-dark;
	  }
	}
  }
}

/**** HERO ****/

.hero {
  @include background-size(cover);
  height: 100vh;
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
  text-align: center;
  max-height: 1000px;
  position: relative;

  &::after {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, .7);
  }

  &__content {
	@include verticalAbsoluteAlign;
	display: inline-block;
	color: #ccc;
	font-size: 20px;
	z-index: 9;
  }

  &__title {
	font-size: 60px;
	text-transform: uppercase;
	color: #fff;
  }

}

/**** SERVICES ****/

.services {
  text-align: center;
  padding: 75px 0;

  &__item {
	width: 30%;
	margin: 0 1.5%;
	display: inline-block;
	text-align: center;
  }

  &__list {
	margin-top: 75px;
  }

}

/**** ALL SECTIONS ****/

.sec {
  &__title {
	font-size: 30px;
	text-transform: uppercase;
  }
  &__text {
	font-size: 20px;
  }

  &--dark {

	.sub-sec__title, .sec__title {
	  color: #000;
	}
	.sub-sec__text, .sec__text {
	  color: $text-dark;
	}
  }

  &--light {
	.sub-sec__title, .sec__title {
	  color: #fff;
	}
	.sub-sec__text, .sec__text {
	  color: $text-light;
	}
  }
}

.sub-sec {

  &__title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
  }

  &__text {
	font-size: 16px;
  }
}

.treehouse__button {
  padding: 20px;
  background-color: $decorative;
  border: none;
  border-radius: 35px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  text-shadow: 0 2px 2px #47AC46;
  margin: 50px 0;
  cursor: pointer;
}

/**** BLOG ****/

.blog {

  height: 500px;
  background-image: url('../img/blog-background.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 70%;
  position: relative;
  z-index: -1;
  background-color: #E9E9E9;

  &::after {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, .7);
	z-index: -1;
  }

  &__content {
	padding: 5% 5% 5% 35%;

  }

  .size {

	&:after {
	  content: '';
	  background-image: url('../img/gear.png');
	  background-repeat: no-repeat;
	  background-position: calc(100% + 200px);
	  background-color: #E9E9E9;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: -70%;
	  position: absolute;
	  overflow: hidden;
	}
  }
}

.blog-list {
  list-style: none;
  padding: 0;

  li {
	margin: .2em 0;
  }

  span {
	position: relative;
	bottom: .5em;
	padding: 0 1em;
  }
}

/**** CONTACT ****/

.contact {
	background-color: $decorative;
	text-align: center;
	
	&__content {
		padding: 50px 0;
	}
	
	.treehouse__button {
		@include border-radius(10px);
		border: 3px solid #fff;
		padding: 10px;
		margin: 25px;
	}
}

/**** FOOTER ****/

.footer {
	text-align: center;
	position: relative;
	
	&__icon {
	@include border-radius(50%);
	width: 2em;
	height: 2em;
	background-color: gray;
	color: #fff;
	
		&.fa {
			line-height: 2em;
		}
	}
	
	&__copy {
		position: absolute;
		left: 0;
		margin: 1em 0;
		line-height: 2em;
	}
	
	&__links {
		display: inline-block;
	}
	
	
}
