* {
	box-sizing: border-box;
}

html {
	width: 100%;
}

.main {
	min-height: 100%;
	min-width: 100%;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
}

.main__background {
	background-image: url(../img/background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main__header {
	margin: 0;
	text-align: center;
}


.main__container {
	max-width: 1075px;
	margin: 0 auto;
	display: block;
}

.container__column {
	padding: 0 5%;
	width: 48%;
	display: inline-block;
	vertical-align: top;
}

/**** LOGOS ****/

.logo--top {
	display: inline-block;
	-webkit-filter: drop-shadow(0 -2px 0 #666);
	filter: drop-shadow(0 -2px 0 #666);
	margin: 0 auto;
	opacity: .3;
	padding-top: 50px;
}

.logo--bottom {
	margin: 70px auto;
	text-align: center;
	opacity: .5;
}

.logo--bottom img {
	-webkit-filter: drop-shadow(0 -2px 0 #fff);
	display: inline-block;
	filter: drop-shadow(0 -2px 0 #fff);
}

.logo--bottom__url {
	text-align: center;
	margin-top: 20px;
}

/**** END LOGOS ****/

/**** FORMS ****/

.form__box {
	width: 100%;
	display: block;
}

.form__header {
	color: #fff;
	text-shadow: 0 2px 0 #000;
	text-align: center;
	font-size: 1.8rem;
}

.form__back {
	background-color: rgba(1,1,1,.3);
	padding: 20px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
}

.form__body {
	background-color: #F4F4F4;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	padding: 20px;
	overflow: hidden;
}

.form__input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
}

.form--basic {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #C7C7C7;
	background-color: #F8F8F8;
	background: linear-gradient(#F8F8F8, #F2F2F2);
	position: relative;
	vertical-align: middle;
}

select.form--transparent {
	-moz-appearance: none;
	-webkit-appearance: none;
}

input, label, textarea, .form--transparent {
	font-family: inherit;
	color: #aaa;
}

.form--transparent {
	outline: none;
	border: none;
	height: 100%;
	width: 75%;
	width: calc(100% - 50px);
	display: inline-block;
	background: transparent;
	vertical-align: middle;
	padding-left: 15px;
	margin-right: 0;
	z-index: 99;
	position: relative;
}

i.fa.fa-caret-down {
	position: absolute;
	margin-left: -20px;
	margin-top: 15px;
	z-index: 0;
	width: 10px;
	height: 10px;
	display: inline-block;
	color: #ccc;
}

.form--area {
	resize: none;
	height: 200px;
	padding: 5px;
}

/**** END FORMS ****/

/**** BUTTONS ****/

.form__btn {
	height: 40px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	color: #fff;
	font-size: 1.4rem;
	cursor: pointer;
}

.form__btn--lg {
	display: block;
	width: 100%;
}

.form__btn--sm {
	display: inline-block;
	width: 45%;
	margin: 0;
}

.form__btn--submit:disabled {
	background-color: #ABD184;
	background: linear-gradient(#C5E3A5, #ABD184);
	border: 1px solid #A0BD87;
	text-shadow: 0 2px 0 #508D18;
	cursor: not-allowed;
}

.form__btn--submit {
	background-color: #76C627;
	background: linear-gradient(#A2D844, #76C627);
	border: 1px solid #508D18;
	text-shadow: 0 2px 0 #508D18;
}

.form__btn--cancel {
	background-color: #E13F4A;
	background: linear-gradient(#F36070, #E13F4A);
	border: 1px solid #99252E;
	text-shadow: 0 2px 0 #99252E;
}

.form__btn--right {
	float: right;
}

/**** END BUTTONS ****/

/**** CHECKBOX ****/

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked + .form__checkbox--inside{
	display: inline-block;
}

.form__checkbox--outside{
	width: 27px;
	height: 27px;
	display: inline-block;
	vertical-align:middle;
}

.form__checkbox--inside {
	width: 15px;
	height: 15px;
	margin: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: none;
	border: 1px solid #C7C7C7;
	background-color: #76C627;
	background: linear-gradient(#9FE350, #76C627);

}

.form__checkbox--label {
	margin-left: 10px;
	line-height: 25px;
	vertical-align:middle;
}

.form__checkbox {
	margin-bottom: 20px;
}

.form--inline {
	display: inline;
}

/**** END CHECKBOX ****/

/**** FORM ICONS ****/

.form__ico {
	background-position: center;
	background-repeat: no-repeat;
	border-right: 1px solid #ccc;
	display: inline-block;
	height: 70%;
	vertical-align: middle;
	width: 45px;
}

.form__ico--username {
	background-image: url('../img/username.png');
	background-size: 20px;
}

.form__ico--password {
	background-image: url('../img/password.png');
	background-size: 15px;
}

.form__ico--email {
	background-image: url('../img/email.png');
	background-size: 18px;
}

.form__ico--mobile {
	background-image: url('../img/mobile.png');
	background-size: 12px;
}

.form__ico--location {
	background-image: url('../img/location.png');
	background-size: 12px;
}


/**** END FORM ICONS ****/

/**** Hide select element arrow in IE ****/
select::-ms-expand {
	display: none;
}

/**** MEDIA ****/

@media screen and (max-width: 900px) {
	.container__column {
		margin: 0 1%;
		width: 98%;
		display: block;
		vertical-align: top;
	}
}

@media screen and (max-width: 462px) {

	.form__btn--sm {
		display: block;
		width: 100%;
		margin-bottom: 0;
	}

	.form__btn--right {
		float: none;
		margin-top: 20px;
	}

	.logo--top {
		max-width: 90%;
	}
}
