* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  font-size: 16px;
  background-color: #fff;
  position: relative;
  z-index: -1; }

/**** LAYOUT ****/
.size {
  max-width: 940px;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100%; }

/**** HEADER ****/
.header {
  background-color: #fff;
  text-align: right;
  padding: 30px 10px;
  position: fixed;
  width: 100%;
  z-index: 9999; }
  .header .logo {
    display: inline-block;
    float: left;
    margin: 4.5px 0; }
    .header .logo__text {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      text-decoration: none;
      color: #565656;
      display: inline-block;
      margin: 0; }
    .header .logo__img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      background-color: #7cc576;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      top: 6px; }

.menu {
  display: inline-block; }
  .menu__item {
    display: inline-block;
    text-transform: uppercase;
    font-size: .8em;
    margin: auto 15px; }
    .menu__item a {
      text-decoration: none;
      color: #777777; }
      .menu__item a:active, .menu__item a:hover, .menu__item a:focus, .menu__item a:visited {
        text-decoration: none;
        color: #777777; }

/**** HERO ****/
.hero {
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
  text-align: center;
  max-height: 1000px;
  position: relative; }
  .hero::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); }
  .hero__content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: #ccc;
    font-size: 20px;
    z-index: 9; }
  .hero__title {
    font-size: 3.625rem;
    text-transform: uppercase;
    color: #fff; }

/**** SERVICES ****/
.services {
  text-align: center;
  padding: 75px 0; }
  .services__item {
    width: 30%;
    display: inline-block;
    text-align: center; }
  .services__list {
    margin-top: 75px; }

/**** ALL SECTIONS ****/
.treehouse--lg {
  font-size: 1.25rem; }
  .treehouse--lg .treehouse__title {
    font-size: 2.375rem; }
.treehouse--sm {
  font-size: .875rem; }
  .treehouse--sm .treehouse__title {
    font-size: 1.125rem; }
.treehouse--xs {
  font-size: .75rem;
  letter-spacing: 0.1px; }
  .treehouse--xs .treehouse__title {
    font-size: 1rem; }
.treehouse--dark {
  color: #777777; }
  .treehouse--dark .treehouse__title,
  .treehouse--dark .treehouse__subtitle {
    color: #000; }
.treehouse--light {
  color: #ccc; }
  .treehouse--light .treehouse__title {
    color: #fff; }
.treehouse__title {
  text-transform: uppercase;
  font-weight: bold; }
.treehouse__subtitle {
  text-transform: capitalize;
  font-weight: bold; }
.treehouse__columns div:nth-child(2) {
  margin: auto 5%; }
.treehouse__columns .treehouse__col {
  width: 29%;
  max-width: 268px;
  display: inline-block;
  padding: 2em 0; }
.treehouse__button {
  padding: 20px;
  background-color: #7cc576;
  border: none;
  border-radius: 35px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  text-shadow: 0 2px 2px #47AC46;
  margin: 50px 0;
  cursor: pointer; }

/**** BLOG ****/
.blog {
  height: 500px;
  background-image: url("../img/blog-background.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 70%;
  position: relative;
  z-index: -1;
  background-color: #E9E9E9; }
  .blog::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1; }
  .blog__content {
    padding: 5% 5% 5% 35%; }
  .blog .size:after {
    content: '';
    background-image: url("../img/gear.png");
    background-repeat: no-repeat;
    background-position: calc(100% + 200px);
    background-color: #E9E9E9;
    width: 100%;
    height: 100%;
    top: 0;
    left: -70%;
    position: absolute;
    overflow: hidden; }

.blog-list {
  list-style: none;
  padding: 0; }
  .blog-list li {
    margin: .2em 0; }
  .blog-list span {
    position: relative;
    bottom: .5em;
    padding: 0 1em; }

/**** PORTFOLIO ****/
.portfolio {
  padding: 0.67em 0;
  text-align: center;
  position: relative; }
  .portfolio .size:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    content: '';
    z-index: 0;
    background-image: url("../img/portfolio-tablet.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70% center; }
  .portfolio__list {
    list-style: none;
    padding: 0; }
    .portfolio__list li {
      margin: 1em 0;
      height: 4em; }
  .portfolio__img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    border: 3px solid #000;
    width: 4em;
    height: 4em;
    padding: 1em;
    position: relative;
    margin-right: 1em; }
    .portfolio__img img {
      width: 100%;
      height: 100%; }
  .portfolio__content {
    text-align: left;
    width: 50%; }
  .portfolio__link {
    color: #7cc576;
    text-transform: uppercase;
    padding: 1em 0;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: block;
    margin-bottom: 3em; }
    .portfolio__link:hover {
      text-decoration: none;
      color: #7cc576; }
    .portfolio__link img {
      margin-left: .5em; }

/**** CULTURE *****/
.culture {
  background-color: #F9F9F9;
  text-align: center;
  padding: 50px 0; }
  .culture__column {
    width: 30%;
    display: inline-block;
    padding: 2em 0; }
  .culture__img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #777;
    padding: 1em;
    text-align: center; }
  .culture__img--right img {
    margin-right: .5em; }
  .culture__line {
    width: 15%;
    height: 0;
    display: inline-block;
    border-top: 3px solid #777;
    position: absolute;
    top: 155px; }
    .culture__line--left {
      left: 60%; }
    .culture__line--right {
      right: 60%; }

/**** CLIENTS ****/
.clients {
  text-align: center;
  position: relative;
  padding: 3em 0; }
  .clients__img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #F9F9F9;
    border: 10px solid #F9F9F9;
    width: 220px;
    height: 220px;
    display: inline-block;
    overflow: hidden; }
  .clients__reference {
    background-color: #F9F9F9;
    padding: 2.5em;
    margin: 1.5em .5em;
    display: inline-block;
    width: 60%;
    text-align: justify;
    letter-spacing: .05em;
    position: relative; }
    .clients__reference q {
      position: relative; }
    .clients__reference q:before {
      position: absolute;
      left: -10px; }
  .clients__client {
    color: #7cc576;
    display: block;
    text-align: center;
    font-size: .8em; }
    .clients__client:before {
      content: '- '; }
  .clients__arrow {
    position: absolute;
    top: 45%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #F9F9F9 transparent transparent; }
  .clients--left .clients__img {
    float: left; }
  .clients--left .clients__arrow {
    left: -20px;
    border-width: 15px 20px 15px 0;
    border-color: transparent #F9F9F9 transparent transparent; }
  .clients--right .clients__img {
    float: right; }
  .clients--right .clients__arrow {
    right: -20px;
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent #F9F9F9; }

/**** CONTACT ****/
.contact {
  background-color: #7cc576;
  text-align: center; }
  .contact__content {
    padding: 50px 0; }
  .contact .treehouse__button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #fff;
    padding: 10px;
    margin: 25px; }

/**** LOGOS ****/
.logos__item {
  display: inline-block;
  width: 24%;
  padding: 2em; }
  .logos__item img {
    margin: 0 auto;
    display: block;
    max-height: 2em;
    width: auto; }

/**** PRE-FOOTER ***/
.pre-footer {
  background-color: #222; }
  .pre-footer .size {
    height: 30em;
    vertical-align: top; }
  .pre-footer__col {
    width: 31%;
    display: inline-block;
    padding: 2em .5em;
    height: 300px; }

/**** FOOTER ****/
.footer {
  text-align: center;
  position: relative; }
  .footer__icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: #222;
    color: #fff; }
    .footer__icon.fa {
      line-height: 2.2em; }
  .footer__copy {
    position: absolute;
    left: 0;
    margin: 1em 0;
    line-height: 2em; }
  .footer__links {
    display: inline-block; }

/*# sourceMappingURL=style.css.map */
